#title {
  text-align: center;
}
#everything {
  justify-content: center;
}
#tooltip {
  opacity: 0;
  width: 200px;
  height: 100px;
  background-color: grey;
  position: fixed;
  z-index: 2;
  bottom: 250px;
  left: 500px;
}
svg {
  padding: 40px;
}
#x-axis {
  z-index: 3;
}
